*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgdiv{
    background-image: url(img6.jpg) ;
    background-size: 100% 100%;
    
    /* height: 140vh; */
    width:100%;

}
nav{
    position:sticky;
    top: 0px;
    padding: 8px 35px;
    background-color: transparent;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content:end ;
   color: white;
  font-size: 20px;
  font-weight: bolder;
    /* border:1px solid rgba(255,255,255,0.5); */
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    backdrop-filter: blur(18px);
    z-index: 11111111;
}
nav p{
    padding-left: 10px;
}
nav .img{
width:50px;
border-radius: 50%;
height:50px;
overflow: hidden;

}
.main{
    /* border:1px solid red; */
    width:100%;
    padding: 80px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formdiv{
    background-color: transparent;
    position: relative;
    width:50%;
    height: auto;
    /* border:1px solid rgba(255,255,255,0.5); */
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    backdrop-filter: blur(18px);
    color: white;
    padding: 35px 40px;
}
.formdiv h1{
    font-size: 40px;

}
form{
    /* border: 1px solid white; */
    padding: 38px 0px ;
  
}
form label{
    font-size: 20px;
    font-weight: bold;
margin: 15px 0px;
color: black;

}
form input{
width:100%;
height:45px;
margin:0px 0px 40px 0px;
border:none ;
outline: none;
border-radius:6px;
padding: 0px 20px;
font-size: 18px;
}
#password1{
    position: relative;

}

#eye1{
position: absolute; 
right: 60px;
top:580px;
font-size: 25px;

color:rgb(97, 96, 96)

}
#password2{
    position: relative;
    margin:0px 0px 5px 0px;
}

#eye2{
position: absolute; 
right: 60px;
top:685px;
font-size: 25px;

color:grey

}
#btn{
    width:100%;
    border-radius: 8px;
    height: 45px;
background-color: rgb(65, 107, 124);
color: white;
border: none;
font-size: 20px;

}
.upload{
    width: 160px;
    height: 150px;
    position: relative;
    margin: auto;
    
}
.upload img{
    border-radius: 50%;
    border: 1px solid grey;
}
.upload .round{
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1;
    background-color: rgb(65, 107, 124);
    width: 46px;
    height: 46px;
    border: 3px solid white;
    line-height: 33px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    font-size: 22px;
    padding-top: 3px;
    padding-left: 3px;
}
.upload input{
position: absolute;
transform: scale(2);
opacity: 0;
cursor: pointer;
z-index: 2;
} a{
    text-decoration: none;
    color: white;
}